body {
  background-image: radial-gradient(circle at 50% -20.71%, #ffff52 0, #e8ff56 10%, #cbfa5c 20%, #acf162 30%, #8de668 40%, #6cd86c 50%, #49c970 60%, #1abd74 70%, #00b279 80%, #00a97e 90%, #00a184 100%);
  color:#a1d1b3;  
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Righteous', cursive;
}

h2, p {
  color: rgb(31, 118, 82);
}
