body {
  background-color: black;
  color:#e4eae6;  
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: rgb(138, 199, 195) 0.1em 0.1em 0.2em;
  font-family: 'Righteous', cursive;
}

h2, p {
  color: rgb(31, 118, 82);
}
